* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

    html{
        background: rgb(3, 11, 45);
    }

    .titulo{
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 3px;
        margin: 5px;
        border: solid rgb(255, 11, 222);
        border-radius: 5px;
        padding: 15px;
    }

    .resposta1{
        position: relative;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 15px;
        margin: 0px 0px 0px 0px;
        /** TOP RIGHT BOTTOM LEFT**/
        border: solid rgb(255, 11, 222);
        border-radius: 5px;

    }

    .resposta2{
        position: relative;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 15px;
        /** TOP RIGHT BOTTOM LEFT**/
        border: solid rgb(255, 11, 222);
        border-radius: 5px;
    }

    .resposta3{
        position: relative;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 15px;
        /** TOP RIGHT BOTTOM LEFT**/
        border: solid rgb(255, 11, 222);
        border-radius: 5px;
    }


    .botao4{
        text-align: center;
        border-radius: 300px;
        margin-top: 300px;
    }

    .botao5{
        text-align: center;
        border-radius: 300px;
        margin-top: 300px;
    }

    .botao6{
        text-align: center;
        border-radius: 300px;
        margin-top: 300px;
    }



    .botao{
        border-radius: 16px;
        background-color: rgba(119, 7, 255, 0.123);
        border: solid 3px rgba(178, 8, 201, 0.339) ;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 22px;
        padding: 3px;
        width: 200px;
        cursor: pointer;
        margin: 20px;
    }
     
    .botao span{
        position: relative;
        transition: 0.50s;
    }
    
    .botao span:after {
        content: "←";
        position: absolute;
        opacity: 0;
        top: 0;
        left: -20px;
        transition: -0.8s;
    }
    
    .botao:hover span {
        padding-left: 33px;
    }
        
    .botao:hover span:after {
        opacity: 1;
        left: -2;
    }